<html>
  <head><title><%= title %></title></head>
  <body>
    <p>user: <%= user%></p>
    <p>car:</p>
    <p>trasmission: <%= car.trasmission%></p>
    <p>engine: <%= car.engine%></p>
    <p>bus:</p>
    <p>trasmission: <%= bus.trasmission%></p>
    <p>engine: <%= bus.engine%></p>
</body>
</html>