<html>
  <head><title><%= title %></title></head>
  <body>
    <p>user: <%= user%></p>
    <p>Car:</p>
    <p>Trasmission: <%= car.trasmission%></p>
    <p>Engine: <%= car.engine%></p>
    <p>Bus:</p>
    <p>Trasmission: <%= bus.trasmission%></p>
    <p>Engine: <%= bus.engine%></p>
</body>
</html>