
<%  
    /* custom attributes and classes added to elements
    navbar
        id = titlePeriod
        navbar.ejs                                      <!-- ENERGY NAVBAR    
            select-parent
            id = navbarMain, navbarAPI, navDuration, navSite
                select-value, select-justtext 
    accordion
        card-header                                     <!-- PERIOD n NAV row --> 
            select-toggle-collection
            select-toggle-grandchild
        
        select-collection-panel  index=n                        <!-- PERIOD n BODY panel --> 
            card-body <pane-child | pane-grandchild>  redraw    <!-- PERIOD n BODY pane -->
                ...                                             <!-- PERIOD n BODY pane CHARTs  -->    
                    select-chart-title
                    chart-selection-reset 
                    pane-column-chart-div  pane-table-chart-div

                select-filter                           <!-- PERIOD n BODY pane FILTER BUTTONS -->
                        ...
                            select-filter-reset
                            select-filter-visibility 
                        select-filter-btn-panel
    ...                                                 <!-- FOOTER 
        id = btnSumAvg    
    */ 

    // constants - soime of these are placed into client side script blocks at the bottom of this page
    const API_BASE_URL = consts.API_SCHEME + '://' + consts.API_HOST;     // e.g.  'http://api.endpoints.sundaya.cloud.goog'
    const PANES = ['pane-child', 'pane-grandchild'];

    // parameters from the first self link, these are common across all collections
    let links = collections[0].collection.links; 

    let link_self = utils.findByPropertyValue(links, 'rel', 'self')[0] ;
    let self_descriptions = link_self.description.split(' ');       // e.g. 'hse week 20190204 1' 

    let params_energy = self_descriptions[0]; 
    let params_period = self_descriptions[1];
    
    let params_epoch_year = self_descriptions[2].substring(0, 4); 
    let params_epoch_month = self_descriptions[2].substring(4, 6); 
    let params_epoch_day = self_descriptions[2].substring(6, 8); 
    
    let params_duration = collections.length;
    let params_site = self_descriptions[4];

    // check which energy params are active 
    let isHse = params_energy == 'hse';
    let isHarvest = params_energy == 'harvest';
    let isStore = params_energy == 'store';
    let isEnjoy = params_energy == 'enjoy';
    let isGrid = params_energy == 'grid';

    let panel_map = '';

%> 

<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/energy-button-toggle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Sundaya Energy API</title>
</head>

<body>    
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">

        <!-- TITLE / period-->
        <span class="d-flex align-item-start">
            <a class="navbar-brand pl-2" href="#navbarAPI, #navbarMain" data-toggle="collapse">Sundaya Energy API</a>

            <ul id="titlePeriod" class="navbar-nav show" data-toggle="tooltip" data-placement="right" title="<%= params_duration %> <%=params_period%><%= params_duration > 1 ? 's' : ''%>">
                <a class="nav-link pl-1" href="#" data-toggle="collapse"><%= utils.capitalise(link_self.name) %>
                    <i class="material-icons align-middle" style="font-size:16px;color:#80bdff;">keyboard_capslock</i>
                </a>
            </ul>
        </span>

        <!-- HAMBURGER  -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarAPI, #navbarMain">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- ENERGY NAVBAR --------------------------------------------------------------------------------------------------->
        <div class="collapse navbar-collapse" id="navbarMain">
            <ul id="navbarAPI" class="navbar-nav mt-auto collapse">

                <% include energy_textHtml_navbar %>

            </ul>

        </div>

    </nav>

    <!-- PANELS  ------------------------------------------------------------------------------------------------------------->
    <div class="accordion">

        <% for(var n_cols=0; n_cols < collections.length; n_cols++) { 
            const FIND_ALL = true;

            links = collections[n_cols].collection.links; 
            items = collections[n_cols].collection.items; 

            link_self = utils.findByPropertyValue(links, 'rel', 'self')[0];
            link_next = utils.findByPropertyValue(links, 'rel', 'next')[0];
            link_prev = utils.findByPropertyValue(links, 'rel', 'prev')[0];
            link_up = utils.findByPropertyValue(links, 'rel', 'up')[0];

            link_collections = utils.findByPropertyValue(links, 'rel', 'collection', FIND_ALL);
            link_col_children = link_collections[0];                                                       // first is child second is grandchild
            link_col_grandchildren = link_collections[1];

            bHasChildren = link_col_children; 
            bHasGrandchildren = link_col_grandchildren; 

            if (!bHasChildren) {link_col_children = {name: '.', description: '', href: ''}; }                // instant has no child
            if (!bHasGrandchildren) {link_col_grandchildren = {name: '.', description: '', href: ''}; }      // second has no grandchild
            
            child_descriptions = (link_col_children.description ? link_col_children.description.split(' ') : []);
            grandchild_descriptions = (link_col_grandchildren.description ? link_col_grandchildren.description.split(' ') : []);
            child_period = link_col_children.name.split('.')[1];
            grandchild_period = link_col_grandchildren.name.split('.')[1];                                 // e.g day.timeofday

            panel_map += '{child: { dataTable: undefined, chart: undefined, table: undefined }, grandchild: { dataTable: undefined, chart: undefined, table: undefined } }' + (n_cols < collections.length - 1 ? ', ' : '');
            
            
        %>

        <!-- PERIOD n PANEL -->
        <div class="card border border-top border-primary border-right-0 border-left-0 rounded-0">

            <!-- PERIOD n NAV row -->
            <div class="card-header py-2 px-0 d-flex">

                <!-- PERIOD n NAV link buttons -->
                <h2 class="mb-0 ml-3 pl-1">
                    
                    <!-- prev -->
                    <button type="button" class="btn btn-sm btn-light border border-secondary rounded-left py-0 capitalize" data-toggle="tooltip"
                        title="Previous <%= utils.capitalise(link_prev.name) %>"
                        onclick="window.location.href = '<%= link_prev.href %>'">
                        <i class="material-icons text-secondary font-weight-bolder" style="font-size:12px;">navigate_before</i>
                    </button>

                    <!-- next -->
                    <button type="button" class="btn btn-sm btn-light border border-secondary rounded-right py-0" data-toggle="tooltip" title="Next <%= utils.capitalise(link_next.name) %>"
                        onclick="window.location.href = '<%= link_next.href %>'">
                        <i class="material-icons text-secondary font-weight-bolder" style="font-size:12px;">navigate_next</i>
                    </button>

                    <!-- self -->
                    <span class="btn select-toggle-collection py-0 pl-1 pr-1" data-toggle="collapse">
                        <h3 class="display-5 text-secondary"><small data-toggle="tooltip"
                            title="<%= utils.capitalise(link_self.name) + ' ' + link_self.title%>"><%= link_self.prompt %></small></h3>
                    </span>

                    <!-- up -->
                    <% if (link_up) { %>

                    <button type="button" class="btn btn-sm btn-light border border-secondary rounded-right py-0" data-toggle="tooltip"
                        title="<%= utils.capitalise(link_up.name) %> (<%= link_up.prompt %>)"
                        onclick="window.location.href = '<%= link_up.href %>'">
                        <i class="material-icons text-secondary font-weight-normal" style="font-size:12px;">call_made</i>
                    </button>

                    <% } %>

                </h2>

                <h2 class="mb-0 ml-3 pl-1 flex-grow-1 select-toggle-collection">
                </h2>

                <!-- PERIOD n NAV row CHILD / GRANDCHILD toggle -->
                <div class="d-flex flex-nowrap pt-1 mb-0 pr-3">

                    <div class="d-flex px-1">
                        <% if (bHasChildren) { %> <h3 class="display-5 text-secondary text-capitalize name-toggle-child collapse show"><small><%= utils.capitalise(child_period) %></small></small></h3> <% } %>
                        <% if (bHasGrandchildren) { %> <h3 class="display-5 text-secondary text-capitalize name-toggle-grandchild collapse hide"><small><%= utils.capitalise(grandchild_period) %></small></small></h3> <% } %>
                    </div>

                    <% if (bHasChildren && bHasGrandchildren) { %>

                    <span class="btn select-toggle-grandchild pl-1 mr-1 pr-1" data-toggle="button">
                        <button type="button" class="btn btn-xs btn-secondary btn-toggle" data-toggle="tooltip"
                            title="<%= utils.capitalise(link_col_grandchildren.name.replace('.', ' | '), true) %>">
                            <div class="handle"></div>
                        </button>
                    </span>

                    <% } %>

                </div>

            </div>

            <!-- PERIOD n BODY panel -->
            <div class="p-0 mt-2 select-collection-panel collapse <%= n_cols == 0 ? 'show' : 'hide' %>" index=<%= n_cols%>>
                
                <% for (var n_panes=0; n_panes < PANES.length; n_panes++) { pane=PANES[n_panes]; %>

                <!-- PERIOD n BODY pane -->
                <div class="card-body <%= pane === 'pane-child' ? 'pane-child collapse show' : 'pane-grandchild collapse' %> redraw pt-0 pb-2">

                    <div class="d-flex flex-nowrap">

                        <div class="d-flex flex-nowrap flex-grow-1">
                            <div class="flex-grow-1">

                                <!-- PERIOD n BODY pane HEADER -->
                                <h3 class="display-5 text-secondary"><small data-toggle="tooltip" title="<%= utils.capitalise((pane === 'pane-child' ? link_col_children : link_col_grandchildren).name.split('.')[1]) %>"><%= pane === 'pane-child' ? link_col_children.prompt : link_col_grandchildren.prompt %></small>
                                </h3>

                                <!-- PERIOD n BODY pane CHARTs  -->
                                <div class="d-flex flex-nowrap">
                                    
                                    <div class="row m-0">
                                        <div class="row m-0">

                                            <div class="col-md px-1 mb-2 mr-2 border border-default">
                                                
                                                <div class="d-flex flex-grow-1 justify-content-between py-0 border-bottom">
                                                    
                                                    <div class="select-chart-title sundaya-font-row py-0 mt-1 px-0 text-secondary font-weight-bold">
                                                        </div>  

                                                    <button type="button" class="chart-selection-reset btn-outline-light btn btn-sm mx-0 py-0 px-0"
                                                         onclick="panelMap[<%= n_cols %>].<%= pane === 'pane-child' ? 'child' : 'grandchild' %>.chart.setSelection()">
                                                        <i class="material-icons" data-toggle="tooltip" title="clear selection"
                                                            style="font-size:18px;color:darkgrey;">bar_chart</i>
                                                    </button>
                                                </div>
                                                
                                                <div class="pane-column-chart-div px-0 mt-2" 
                                                    style="width:400px; height:295px"></div>    

                                                <div class="btn-group btn-group-sm flex-wrap" 
                                                    <% if (pane === 'pane-grandchild') { %>
                                                        data-toggle="tooltip" title="<%= utils.capitalise(grandchild_period) %> (<%= link_col_grandchildren.title %>)" onclick="window.location.href = '<%= link_col_grandchildren.href %>'"
                                                    <% } %>>

                                                    <% for(var n_btns=0; n_btns < (pane === 'pane-child' ? child_descriptions : grandchild_descriptions).length; n_btns++) { %>

                                                        <button type="button" class="btn btn-light border border-default py-0 m-0 mb-1 mr-1" 
                                                            <% if (pane === 'pane-child') { %>
                                                                data-toggle="tooltip" title="<%= items[n_btns].links[0].prompt %>" onclick="window.location.href = '<%= items[n_btns].links[0].href %>'"
                                                            <% } %>>
                                                            <small class="text-secondary font-weight-bold align-baseline"><%= (pane === 'pane-child' ? child_descriptions[n_btns] : grandchild_descriptions[n_btns]) %></small>
                                                        </button>
                                                    
                                                    <% } %>
                                                </div>

                                            </div>
                                            
                                            <div class="col-md px-1 mb-2 mr-2 border border-default">
                                                <div class="pane-table-chart-div px-0 my-1">
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>        
                        </div>

                        <!-- PERIOD n BODY pane FILTER BUTTONS -->                    
                        <div class="select-filter pr-1 my-2">
                            
                            <div class="flex-wrap pl-1 pr-0">

                                <div class="d-flex justify-content-end px-0">

                                    <button type="button" class="select-filter-reset btn btn-outline-light collapse hide btn-sm py-0 px-0">
                                        <i class="material-icons" data-toggle="tooltip" title="reset filters"
                                            style="font-size:24px;color:darkgrey;">toggle_on</i>
                                    </button>

                                    <button type="button" class="select-filter-visibility btn btn-outline-light btn-sm py-0 px-0">
                                        <i class="material-icons" data-toggle="tooltip" title="show filters"
                                            style="font-size:24px;color:darkgrey;">link_off</i>
                                    </button>

                                </div>

                                <div class="select-filter-btn-panel collapse" style="width: 8.5rem"> 

                                    <div data-toggle="tooltip" title="filter by <%= utils.capitalise((pane === 'pane-child' ? link_col_grandchildren : link_col_children).name.split('.')[1]) %> (<%= (pane === 'pane-child' ? link_col_grandchildren : link_col_children).title %>)" 
                                            data-placement="left"> 
                                    <% for(var n_btns=0; n_btns < (pane === 'pane-child' ? grandchild_descriptions : child_descriptions).length; n_btns++) { %>

                                        <div class="btn btn-block btn-secondary badge d-flex justify-content-between pr-0">
                                            <%= (pane === 'pane-child' ? grandchild_descriptions[n_btns] : child_descriptions[n_btns]) %>
                                            <button type="button" class="btn btn-sm btn-secondary btn-toggle select-filter-btn active">
                                                <div class="handle"></div>
                                            </button>
                                        </div>
                                    
                                    <% } %>
                                    </div>

                                </div>

                            </div>
                    
                        </div>

                    </div>

                </div>

                <% } %>

            </div>

        </div>
        
        <% } %>
        
    </div>
    
    <!-- FOOTER  ------------------------------------------------------------------------------------------------------------->
    <nav class="navbar navbar-expand-md navbar-dark bg-light border-top border-primary py-0 pr-3">
        
        <div class="d-flex flex-grow-1 justify-content-end">&nbsp

            <% if (bHasChildren && bHasGrandchildren) { %> 

            <!-- SUM/AVG --->
            <span class="mb-1 mr-1" data-toggle="tooltip" data-placement="right" title="Total | Average/<%= grandchild_period %>">
                <button id="btnSumAvg" type="button" class="btn btn-sm btn-outline-default btn-avg-sum btn-primary btn-toggle">
                    <div class="handle"></div>
                </button>
            </span>

            <% } %>

        </div>

    </nav>

    <!-- SCRIPT: jQuery first, then Popper.js, then Bootstrap JS, app scripts must be last -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/collection.js"></script>
    <script src="/static/js/energy-charts.js"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">

        const API_BASE_URL = '<%= API_BASE_URL %>';     // e.g.  'http://api.endpoints.sundaya.cloud.goog'

        const ENERGY_PARAM = '<%= params_energy %>';
        const CHILD_PERIOD = '<%= utils.capitalise(child_period) %>';
        const GRANDCHILD_PERIOD = '<%= utils.capitalise(grandchild_period) %>';
        
        let panelMap = [<%= panel_map %>];

        google.charts.load('current', { packages: ['table', 'corechart'], callback: redrawPanels });

        // draws the active pane
        function redrawActivePane(pane) {
            
        <% if (isHse) {  %>  
            const AGGDATA_CHART_COLUMNS = [0, 1, 2, 3, 4, 6, 7];    // if hse chart 0 and all columns except (store=5) and (grid=8) deficit columns, if store/grid = 0, 1 ,2, 3,  others = 0, 1) 
            const RAWDATA_HSE_COLUMNS = [2, 3, 4, 5, 6, 7, 8, 9];   // 8 cols for hse,  '2,3,4' if store or grid, otherwise '2'
            const AGGDATA_HSE_COLUMNS = [1, 2, 3, 4, 5, 6, 7, 8];   // 8 cols for hse,  '1,2,3' if store or grid, otherwise '1'
        <% } else if (isStore || isGrid ) { %> 
            const AGGDATA_CHART_COLUMNS = [0, 1, 2, 3];     
            const RAWDATA_HSE_COLUMNS = [2, 3, 4];   
            const AGGDATA_HSE_COLUMNS = [1, 2, 3];   
        <% } else { %>
            const AGGDATA_CHART_COLUMNS = [0, 1];     
            const RAWDATA_HSE_COLUMNS = [2];   
            const AGGDATA_HSE_COLUMNS = [1];   
        <% } %>

            const FORMATTED_DATA_CHILD_COLUMN = 0;
            const FORMATTED_DATA_GRANDCHILD_COLUMN = 1;

            const ALL_COLUMNS = [FORMATTED_DATA_CHILD_COLUMN, FORMATTED_DATA_GRANDCHILD_COLUMN].concat(RAWDATA_HSE_COLUMNS);

            let filterColumn; let groupColumn;

            const chartDiv = pane.find('.pane-column-chart-div');
            const tableDiv = pane.find('.pane-table-chart-div');
            
            let panelIndex = Number(pane.closest('.select-collection-panel').attr('index'));
            let panelMapObj = panelMap[panelIndex];            

            let sumAvg = getGroupOption();
            let filterVals = getActiveFilterButtons(pane);

            // initialise child datatable 
            if (!panelMapObj.child.dataTable) {

                let dt = new google.visualization.DataTable(getJsonChartData(panelIndex));
                colorDataTable(dt, 6, 9);
                panelMapObj.child.dataTable = dt;
                
            }
            
            // draw child
            if (pane.hasClass('pane-child')) {

                filterColumn = FORMATTED_DATA_GRANDCHILD_COLUMN;
                groupColumn = FORMATTED_DATA_CHILD_COLUMN;
                
                // filter & aggregate child 
                let filteredData = filterDataTable(panelMapObj.child.dataTable, filterColumn, filterVals, ALL_COLUMNS);
                let groupedData = groupFilteredData(filteredData, groupColumn, sumAvg, RAWDATA_HSE_COLUMNS, AGGDATA_HSE_COLUMNS);

                // draw child
                panelMapObj.child.table = drawTableChart(filteredData, tableDiv, panelMapObj.child.table);
                panelMapObj.child.chart = drawColumnChart(groupedData, chartDiv, AGGDATA_CHART_COLUMNS);

                // register child event handlers
                addTableEventHandler(panelMapObj.child, AGGDATA_CHART_COLUMNS.length - 1);     // skip the id column
                
            // draw grandchild
            } else {
                
                filterColumn = FORMATTED_DATA_CHILD_COLUMN;
                groupColumn = FORMATTED_DATA_GRANDCHILD_COLUMN;

                // filter & aggregate grandchild 
                let filteredData = filterDataTable(panelMapObj.child.dataTable, filterColumn, filterVals, ALL_COLUMNS);
                let groupedData = groupFilteredData(filteredData, groupColumn, sumAvg, RAWDATA_HSE_COLUMNS, AGGDATA_HSE_COLUMNS);

                // format grandchild datatable
                let dt = groupedData.toDataTable();
                colorDataTable(dt, 5, 8);
                panelMapObj.grandchild.dataTable = dt;

                // draw grandchild
                panelMapObj.grandchild.table = drawTableChart(dt, tableDiv, panelMapObj.grandchild.table);
                panelMapObj.grandchild.chart = drawColumnChart(dt, chartDiv, AGGDATA_CHART_COLUMNS);

                // register grandchild event handlers
                addTableEventHandler(panelMapObj.grandchild, AGGDATA_CHART_COLUMNS.length - 1);     // skip the id column
                //addChartEventHandler(panelMapObj.grandchild);

            } 

        }

        function getJsonChartData(panelIndex) {

            let dataRows;

            const dataCols = [
                { id: '0', type: 'number', label: '<%= utils.capitalise(child_period) %>' },        // v: 0, f: 'Mon Feb 4th'
                { id: '1', type: 'number', label: '<%= utils.capitalise(grandchild_period) %>' },   // v: 0, f: 'Night'
            <% if (isHse) {  %>               
                { id: '2', type: 'number', label: 'Harvest' },
                { id: '3', type: 'number', label: 'Enjoy' },
                { id: '4', type: 'number', label: 'Store in' },
                { id: '5', type: 'number', label: 'Store out' },
                { id: '6', type: 'number', label: '(Store)' },
                { id: '7', type: 'number', label: 'Grid out' },
                { id: '8', type: 'number', label: 'Grid in' },
                { id: '9', type: 'number', label: '(Grid)' }
            <% } else if (isStore || isGrid ) { %> 
                { id: '2', type: 'number', label: '<%= utils.capitalise(params_energy) %> in' },
                { id: '3', type: 'number', label: '<%= utils.capitalise(params_energy) %> out' },
                { id: '4', type: 'number', label: '(<%= utils.capitalise(params_energy) %>)' }
            <% } else { %> 
                { id: '2', type: 'number', label: '<%= utils.capitalise(params_energy) %>' }
            <% } %>];

            switch (panelIndex) {
            <% for(var n_cols=0; n_cols < collections.length; n_cols++) { 
                items = collections[n_cols].collection.items; %>
                case <%= n_cols %>:
                    dataRows = [ <% for(var n_items=0; n_items < items.length; n_items++) { 
                        child_prompt = items[n_items].links[0].prompt; 
                        grandchild_item_data = items[n_items].data[1].data;                     // e.g. grandchild_item_data[0].name = 'harvest' etc

                        if (isHse) {
                            chart_data_harvest = grandchild_item_data[0].value.split(' ');      // harvest
                            chart_data_store_in = grandchild_item_data[1].value.split(' ');     // store.in
                            chart_data_store_out = grandchild_item_data[2].value.split(' ');    // store.out
                            chart_data_enjoy = grandchild_item_data[3].value.split(' ');        // enjoy    
                            chart_data_grid_in = grandchild_item_data[4].value.split(' ');      // grid.in
                            chart_data_grid_out = grandchild_item_data[5].value.split(' ');     // grid.out
                            
                        } else if (isStore || isGrid ) { 
                            chart_data_in = grandchild_item_data[0].value.split(' ');           // store.in or grid.in
                            chart_data_out = grandchild_item_data[1].value.split(' ');          // grid.in or grid.out

                        } else {
                            chart_data_any = grandchild_item_data[0].value.split(' ');          // harvest or enjoy   
                        }
                        %> 
                        <% for(var n_gch=0; n_gch < grandchild_descriptions.length; n_gch++) { 
                            if (isHse) {
                                // order is harvest, enjoy, storein/out/store, gridout/in/grid 
                                chart_data_string = `{ v: ${chart_data_harvest[n_gch]} }, { v: ${chart_data_enjoy[n_gch] * -1} }, { v: ${chart_data_store_in[n_gch] * -1} }, { v: ${chart_data_store_out[n_gch]} }, { v: ${(eval(chart_data_store_out[n_gch]) + eval(chart_data_store_in[n_gch] * -1)).toFixed(4)} }, { v: ${chart_data_grid_out[n_gch]} }, { v: ${chart_data_grid_in[n_gch] * -1} }, { v: ${(eval(chart_data_grid_out[n_gch]) + eval(chart_data_grid_in[n_gch] * -1)).toFixed(4)} }`;
                            } else if (isStore || isGrid ) { 
                                chart_data_string = `{ v: ${chart_data_in[n_gch] * -1} }, { v: ${chart_data_out[n_gch]} }, { v: ${(eval(chart_data_out[n_gch]) + eval(chart_data_n[n_gch] * -1)).toFixed(4)} }`;
                            } else {
                            }
                         %>
                    { c: [{ v: <%= n_items %>, f: '<%= child_prompt %>' }, { v: <%= n_gch %>, f: '<%= grandchild_descriptions[n_gch] %>' }, <%- chart_data_string %> ] }<% if (n_items < (items.length - 1) || n_gch < (grandchild_descriptions.length - 1)) { %>,<% } %> <% } %> <% } %>
                    ];  
                    break; 
            <% } %>
                
                default:        // if panelIndex is missing return column headings with empty rows
                    dataRows = [];
                    break;
                
            }

            return { 'cols': dataCols, 'rows': dataRows }
        }

    </script>


</body>
</html>